<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springstudy.bbs.mapper.BoardMapper">
	<select id="boardList" resultMap="boardResultMap" resultType="Board">
		SELECT
			*
		FROM springbbs
		ORDER BY no DESC
	</select>
	
	<resultMap id="boardResultMap" type="Board">
		<id property="no" column="no" />
		<result property="title" column="title" />
		<result property="writer" column="writer" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="readCount" column="read_count" />
		<result property="pass" column="pass" />
		<result property="file1" column="file1" />
	</resultMap>
</mapper>